<?xml version="1.0" encoding="utf-8"?>
<!--
  Fahrgemeinschaft / Ridesharing App
  Copyright (c) 2013 by it's authors.
  Some rights reserved. See LICENSE.. 
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fahrgemeinschaft"
    android:versionCode="8"
    android:versionName="alpha 0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="FG"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="FG" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlacePickActivity"
            android:theme="@style/AppTheme.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="de.fahrgemeinschaft"
                    android:scheme="content" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="FG" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="de.fahrgemeinschaft"
                    android:scheme="content" />
            </intent-filter>
        </activity>

        <activity android:name="SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- teleportR Android Library -->

        <service android:name="org.teleportr.ConnectorService" />

        <provider
            android:name="org.teleportr.RidesProvider"
            android:authorities="de.fahrgemeinschaft" />
    </application>

</manifest>